<div class="deznav">
    <div class="deznav-scroll">
        <ul class="metismenu" id="menu">
            <li><a href="/" class="ai-icon" aria-expanded="false">
                    <i class="flaticon-381-networking"></i>
                    <span class="nav-text">Bosh sahifa</span>
                </a>
            </li>
            <li><a href="/checkout" class="ai-icon" aria-expanded="false">
                    <i class="flaticon-381-networking"></i>
                    <span class="nav-text">Buyurtmalar</span>
                </a>
            </li>
            <li><a href="/category" class="ai-icon" aria-expanded="false">
                    <i class="flaticon-381-layer-1"></i>
                    <span class="nav-text">Bo'limlar</span>
                </a>
            </li>
            <li><a href="/product" class="ai-icon" aria-expanded="false">
                    <i class="flaticon-381-network"></i>
                    <span class="nav-text">Mahsulotlar</span>
                </a>
            </li>
            <li><a href="/atribut" class="ai-icon" aria-expanded="false">
                    <i class="flaticon-381-network"></i>
                    <span class="nav-text">Atributlar</span>
                </a>
            </li>
            <li><a href="/slider" class="ai-icon" aria-expanded="false">
                    <i class="flaticon-381-controls-3"></i>
                    <span class="nav-text">Slayderlar</span>
                </a>
            </li>
            <li><a href="/advan" class="ai-icon" aria-expanded="false">
                    <i class="flaticon-381-internet"></i>
                    <span class="nav-text">Afzalliklarimiz</span>
                </a>
            </li>
            <li><a href="/promo" class="ai-icon" aria-expanded="false">
                    <i class="flaticon-381-heart"></i>
                    <span class="nav-text">Aksiya</span>
                </a>
            </li>
            <li><a href="/review" class="ai-icon" aria-expanded="false">
                    <i class="flaticon-381-notepad"></i>
                    <span class="nav-text">Fikrlar</span>
                </a>
            </li>
            <li><a href="/news" class="ai-icon" aria-expanded="false">
                    <i class="flaticon-381-networking"></i>
                    <span class="nav-text">Yangiliklar</span>
                </a>
            </li>
            <li><a href="/settings" class="ai-icon" aria-expanded="false">
                    <i class="flaticon-381-settings-2"></i>
                    <span class="nav-text">Sozlamalar</span>
                </a>
            </li>
        </ul>
    </div>
</div>