<!DOCTYPE html>
<html lang="en">
{{> head}}
<body>
     <div id="main-wrapper">
         {{> nav}}
         {{> header}}
         {{> sidebar}}
         <div class="content-body">
            <!-- row -->
			<div class="container-fluid">
                {{{body}}}
            </div>
        </div>
        {{> footer}}
     </div>
    {{> scripts}}
</body>
</html>